h1 {
  font-family: oswald, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: oswald, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #FFFFFF;
  background-color: #8B09FF;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
