body {
  margin: 0;
  padding: 0;

}

.container {
  width: 1024px;
  margin: 0 auto;
}
h1 {
  font-size: 85px;
  font-family: roboto;
  color: white;
  margin: 0;
  text-align: center;

}

h2 {
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #000630;
}

h3 {
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color:#000630;
  }
}

h4 {
  font-family: roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #F28D14;

  }

p {
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #000630;
}
a {
  font-family: roboto-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  color:white;
}

.article {
  color:black;
  margin-left: 300px;
}

.groups {
  color:#F28D14;
  background-color: #E9E9E9;
  padding: 15px;
  text-decoration: none;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-right: 25px;
}

.connect-container {
  margin-left: 25px;
}

section.header {
  background-color: #000630;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  background-color: #000630;
  padding-top: 20px;
  padding-bottom: 15px;
  font-color: white;
  text-decoration: none;
  display: block;
  width: 20%;
  text-align: center;
}

.page-header {
  margin-left: 25px;
}

.page {
  background-color: #000630;
  padding-top: 20px;
  padding-bottom: 15px;
  font-color: white;
  text-decoration: none;
  display: block;
  width: 25%;
  text-align: right;
}

.home {
  font-size: 28px;
  font-family: roboto;
  color: white;
  margin: 0;
  text-decoration: none;
  font-weight: bold;
  display: block;
  position: absolute;
  top:0;
  left:0;

}
.home a {
  padding-top: 8px;
  padding-left: 15px;
  display: block;
  font-weight: 800;
  text-decoration: none;
}

.box {
  width: 1024px;
  margin-top: 15px;
}

.spotlight-container {
  position: relative;
  margin-left: 300px;
}
.justin-photo {
  width: 250px;
  position: absolute;
  margin-left: 25px;
}

.jason-photo {
  width: 250px;
  position: absolute;
  margin-left: 25px;
}

.justin {
  margin-top: 130px;
}

.schedule {
  background-color: #E9E9E9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 25px;
}

a.races {
  background-color: #E9E9E9;
  color: #000630;
  font-size: 18px;
  font-family: roboto;
  text-decoration: none;
  padding: 10px;
  margin-left: 1055px;
}

button {
  height: 60px;
  background-color: #E9E9E9;
  position: relative;
  z-index: 999;
  font-size: 24px;
  font-family: roboto;
  color: #F28D14;
  text-align: center;
}

.image-container {
  position: relative;
}

.image-container img#vine {
  position: absolute;
  width: 11.5%;
  left: 54.5%;
  top: 0;
}

.image-container img#bridge {
  position: absolute;
  top: 17%;
  left: 38%;
  width: 13%;
}

.image-container img#millrace {
  position: absolute;
  width: 6.25%;
  left: 42.5%;
  top: 33%;
}

.image-container img#orchard {
  position: absolute;
  top: 46.5%;
  left: 39%;
  width: 12.5%;
}

.image-container img#fidler {
  position: absolute;
  top: 44.5%;
  width: 5%;
  left: 58.95%;
}

#vine {
  opacity: 0;
}

#vine.visible {
  opacity: 1;
}

#bridge {
  opacity: 0;
}

#bridge.visible {
  opacity: 1;
}

#millrace {
  opacity: 0;
}

#millrace.visible {
  opacity: 1;
}

#orchard {
  opacity: 0;
}

#orchard.visible {
  opacity: 1;
}

#fidler {
  opacity: 0;
}

#fidler.visible {
  opacity: 1;
}

.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
